@import "tailwindcss";
@import "uniwind";

@import "heroui-native/styles";

@source "./node_modules/heroui-native/lib";

@theme {
  --color-white: #ffffff;
  --color-background: #f6f6f6;
  --color-foreground: #2d2f2f;
  --color-card: #ffffff;
  --color-muted: #dbdddd;
  --color-primary: #00694b;
  --color-primary-light: #1d9e75;
  --color-primary-glow: #8cfece;
  --color-primary-frost: #e6fff5;
  --color-secondary: #06d6b4;
  --color-tertiary: #00d9fe;

  --text-display-lg: 3.5rem;
  --text-headline-md: 1.75rem;
  --text-title-md: 1.125rem;
  --text-body-md: 0.875rem;
}
